.about.container-fluid {
    background: linear-gradient(300deg,rgba(0, 0, 255, 0) 40%, #676F97),
                linear-gradient(45deg,rgba(197, 200, 230, 0) 40%, #a982ce),
                linear-gradient(180deg, rgba(16, 177, 189, 0) 40%, #9198e5);
}

.card {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, .2);
    background-color: unset;
}

.about.card-body {
    background-color: #B8B3BE;
    background: linear-gradient(268deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                linear-gradient(92deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                linear-gradient(0deg, rgba(255, 255, 255, 0) 94%, #070707);
    margin-bottom: 0;
    color: #1F475B;
}

.about.card-title {
    color: #ffffff;
    font-family: 'Agency FB';
}

span.underline {
    color: #000000;
    background-color: #000000;
    width: 80px;
    height: 3px;
}

div#markup p {
    color: #1F475B;
    font-size: 1.45em;
}

@media (min-width: 768px) {
    /* img.brian {
        width: 85%;
    } */
    .about.container-fluid {
        padding-right: 90px !important;
        padding-left: 90px !important;
        padding-top: 125px !important;
        padding-bottom: 125px !important;
    }
    .about.card-body {
        background-color: #B8B3BE;
        background: linear-gradient(268deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                    linear-gradient(92deg, rgba(255, 255, 255, 0) 10%, #ECECEC),
                    linear-gradient(0deg, rgba(255, 255, 255, 0) 85%, #070707);
        height: 100%;
    }
    div#markup p {
        color: #1F475B;
        font-size: .9em;
    }
}